<% if user_signed_in? %>
    <% if current_user.role == 1 %>
        <p>用户 </p>
        <h1>Home#index</h1>
        <p>Find me in app/views/home/index.html.erb</p>
    <% elsif current_user.role == 2 %>
        <p>卖家 </p>
        <h1>Home#index</h1>
        <p>Find me in app/views/home/index.html.erb</p>
    <% elsif current_user.role == 3 %>
        <p>管理员</p>
        <h1>Home#index</h1>
        <p>Find me in app/views/home/index.html.erb</p>
    <% end %>
<% else %>
    <h1>Home#index</h1>
    <p>Find me in app/views/home/index.html.erb</p>
<% end %>


